Source: ros-melodic-pf-description
Section: misc
Priority: optional
Maintainer: Harsh Deshpande <harshavardhan.deshpande@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-rostest <!nocheck>
Homepage: https://github.com/PepperlFuchs/pf_lidar_ros_driver
Standards-Version: 3.9.2

Package: ros-melodic-pf-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-robot-state-publisher, ros-melodic-rviz, ros-melodic-urdf, ros-melodic-xacro
Description: The pf_description package
